body {
  max-width: 750px;
  margin: auto;
  padding: 50px 0;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: hotpink;
}

h1 {
  line-height: 1;
  margin-bottom: 10px
}

small {
  font-size: 20px;
  margin: 0;
  font-style: italic
}
